.detail{
    padding-top: 20px;
    &-img{
        width: 100%;
    }
    &-title{
        margin-bottom: 20px;
    }
    &-text{
        margin-bottom: 10px;
    }
    &-price{
        margin-bottom: 10px;
    }
}